---
import Layout from "../layouts/Layout.astro"

---

<Layout title="Acerca del sitio">
  <h1>About</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At modi, provident accusantium minus praesentium dolorum architecto animi consequatur, veniam tempore ex officiis perferendis obcaecati nobis blanditiis aspernatur corrupti. Obcaecati, laborum, eius tempora delectus molestiae odio nesciunt eum labore ullam quis ducimus, accusamus facilis ipsa officia ad. Placeat numquam, facilis hic quo blanditiis repellendus. Eligendi eveniet dolores tempora porro quas, autem nemo reprehenderit. Adipisci ducimus, corporis iste reiciendis error earum dolorum accusantium explicabo facilis ratione beatae obcaecati illo id tenetur dolor esse illum eos facere perspiciatis deleniti fuga eveniet maiores at vitae. Quo doloremque alias reprehenderit doloribus, aliquam ea quas commodi.</p>
</Layout>